{% extends "base.html" %}
{% block content %}
<h2>Select file(s) to upload. (Currently only wav format is supported) </h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<button class="btn btn-outline-primary" type="submit" >UPLOAD</button>
	</p>
</form>
{% endblock %}
